html,
body {
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}
body {
  background-color: rgb(238, 243, 247);
}

div {
  display: block;
}

.topBar {
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.uninstall {
  position: absolute;
  top: 20%;
  left: 3.5%;
  right: 3.5%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);;
  background-color: #ffffff;
  border-radius: 2px;
  bottom: 30px;
}

.heading {
  position: absolute;
  /* top: 0%; */
  left: 40%;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
}

.ExtensionList {
  position: absolute;
  top: 25%;
}

.adjust {
  padding: 5px;
  align-items: center;
  display: inline-flex;
  width: 210px;
  font-size: 15px;
}

.head {
  position: absolute;
  top: 3%;
  left: 2%;
  font-size: 100%;
  text-align: center;
  font-weight: bold;
}

.ListHeading {
  font-size: 20px;
  /* color: #cf8719; */
  position: absolute;
  left: 35%;
  font-weight: 500;
  top: 10%;
}

.warning {
text-align: center;
color: red;
background-color: #aee6f6;
height: 18px;
font-size: 15px;
}

/* #update :hover {
  opacity: 1;
}

#update:focus {
  outline: none;
} */

#update:active {
  background-color: #ac7626;
}

#update {
  position: absolute;
  left: 45%;
  width: 70px;
  height: 35px;
  background-color: #d8993b;
  border: #d18a1e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.feedback {
  height: 33px;
  width: 70px;
  bottom: 15%;
  left: 47%;
  position: absolute;
  background-color: #d8993b;
  border: #d18a1e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.feedback:active {
  background-color: #ac7626;
}

.info {
color: black
}



.message {
  position: absolute;
  left: 35%;
  top: 5%
}

.message2 {
  position: absolute;
  left: 50%;
  top: 10%;
  left: 43%
}

.feedback-text {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 30%;
  height: 190px;
  padding: 12px 20px;
  /* box-sizing: border-box; */
  border: 2px solid #db9d3f;
  border-radius: 4px;
  /* background-color: .#f8f8f8; */
  font-size: 16px;
  /* resize: none; */
}

.feedback-text:active,:focus {
  outline: none;
}
